*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(fondo.jpg);
}

.container
{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-block-end: 65px;
    font-family: Calibri;
    color: white;
    box-shadow: 10px 13px 37px #000;
}

.container .form-control
{
    width: 150%;
    background: #24303c;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 16px;
    border: 2px solid #1f53c5;
    font-family: Calibri;
    font-size: 18px;
    color: white;
}

