body{
    background-image:url(fondo.jpg) ;
 }

 h2{
    margin-top: 30px;
    margin-block-end: 25px;
    font-family: 'calibri';

 }

 
 h6{
    
    margin-block-end: 20px;

 }

 h5{
    margin-top: 30px;
    margin-block-end: 25px;
   
 }